.Project {
  z-index: 1;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.ProjectContainer {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--textColor);
}
.ProjectContainer>p {
  font-family: "Humane Regular";
  text-align: left;
  margin-top: 16vh;
  font-size: 7rem;
  line-height: 0%;
}
.body1 {
  margin-top: -3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.slider {
  width: 100%;
  position: relative;
  height: 21vw;
  display: flex;
  justify-content: center;
}
.item {
  position: absolute;
  width: 40vw;
    text-align: justify;
    height: 18.5vw;
  background-color: #fff;
  border-radius: 0.5rem;
  transition: 0.5s;
object-fit: cover;
}
.buttom_holder{
  width: 95%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
#next,
#prev {
  top: 50%;
  color: var(--textColor);
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  font-family: monospace;
  font-weight: bold;
  margin: 3vw;
}
.text_box{
  width: 60%;
  display: flex;
  flex-direction: column;
}
#project_header{
  font-family: "Humane Regular";
  font-size: 5rem;
  text-transform: capitalize;
  line-height:0%;
  height: 11vh;
  margin-top: -2vh;
  color: var(--lightAccent);
}
.slide-fade-text {
  opacity: 1;
  display: flex;
  align-items: center;
  transform: translateY(0);
  font-size: 1rem;
  height: 12vh;
}
.slide-fade-text.active {
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.button_box{
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.button_butt{
  padding: 0.4rem 1.2rem;
  background-color: var(--backgroundColor);
  color: var(--appColor);
  border-radius: 3rem;
  font-size: 1.2rem;
  font-family: "Nexa Bold";
  text-transform: uppercase;
  transition: all 0.5s;
}
.button_butt:hover{
  background-color: var(--appColor);
  color: var(--backgroundColor);
  scale: 1.2;
  transition: all 0.5s;
}
.hide{
  display: none;
}
@media screen and (max-width:1441px) {
  .ProjectContainer {
    width: 85vw;
  }
  .ProjectContainer>p {
    margin-top: 16vh;
    font-size: 5vw;
    line-height: 0%;
  }
  .body1 {
    margin-top: -5vh;
    }
  .slider {
    width: 100%;
    height: 18vw;
  }
  .item {
    width: 40vw;
      height: 18.5vw;
  }
  #next,
  #prev {
    top: 50%;
    font-size: 2.5vw;
    margin: 3vw;
  }
  .text_box{
    width: 85%;
  }
  #project_header{
    font-size: 5vw;
    line-height:0%;
    height: 13vh;
    margin-top: -2vh;
  }
  .slide-fade-text {
    font-size: 1.1vw;
    height: 15vh;
  }
  .button_box{
    gap: 2rem;
  }
  .button_butt{
    padding: 0.4rem 1.2rem;
    font-size: 1.2vw;
  }
}
@media screen and (max-width:1025px) {
  .ProjectContainer {
    width: 85vw;
  }
  .ProjectContainer>p {
    margin-top: 18vh;
    font-size: 6vw;
    line-height: 0%;
  }
  .body1 {
    margin-top: -3vh;
    }
  .slider {
    width: 100%;
    height: 18vw;
  }
  .item {
    width: 40vw;
      height: 18.5vw;
  }
  #next,
  #prev {
    top: 50%;
    font-size: 2.5vw;
    margin: 3vw;
  }
  .text_box{
    width: 60%;
  }
  #project_header{
    font-size: 5vw;
    line-height:0%;
    height: 12vh;
    margin-top: -2vh;
  }
  .slide-fade-text {
    font-size: 1.1vw;
    height: 16vh;
  }
  .button_box{
    gap: 2rem;
  }
  .button_butt{
    padding: 0.4rem 1.2rem;
    font-size: 1.3vw;
  }
}
@media screen and (max-width:769px) {
  .ProjectContainer {
    width: 85vw;
  }
  .ProjectContainer>p {
    margin-top: 18vh;
    font-size: 10vw;
    line-height: 0%;
  }
  .body1 {
    margin-top: -3vh;
    }
  .slider {
    width: 100%;
    height: 30vw;
  }
  .item {
    width: 65vw;
      height: 29.75vw;
  }
  #next,
  #prev {
    top: 50%;
    font-size: 4vw;
    margin: 2vw;
  }
  .text_box{
    width: 75%;
  }
  #project_header{
    font-size: 8vw;
    line-height:0%;
    height: 10vh;
    margin-top: -2vh;
  }
  .slide-fade-text {
    font-size: 1.8vw;
    height: 20vh;
  }
  .button_box{
    gap: 2rem;
  }
  .button_butt{
    padding: 0.4rem 1.2rem;
    font-size: 2vw;
  }
}
@media screen and (max-width: 426px) {
  .Project {
    z-index: 1;
    display: flex;
    min-height: 100vh;
    justify-content: center;
  }
  .ProjectContainer {
    width: 90vw;
  }
  .ProjectContainer>p {
    margin-top: 12vh;
    font-size: 16vw;
    line-height: 0%;
  }
  .body1 {
    margin-top: -3vh;
  }
  .slider {
    width: 100%;
    height: 85vw;
  }
  .item {
    position: absolute;
    width: 50vw;
      height: 85vw;
      object-position: top;
  }
  .buttom_holder{
    width: 100%;
  }
  #next,
  #prev {
    font-size: 8vw;
  }
  .text_box{
    width: 80%;
  }
  #project_header{
    font-size: 12vw;
    height: 16vh;
    margin-top: -2vh;
  }
  .slide-fade-text {
    font-size: 3vw;
    align-items: end;
    height:12vh;
  }
  .button_box{
    margin-top: 2vw;
    gap: 3vw;
  }
  .button_butt{
    padding: 0.4rem 1.2rem;
    font-size: 4vw;
  }
  .button_butt:hover{
    background-color: var(--appColor);
    color: var(--backgroundColor);
    scale: 1.2;
    transition: all 0.5s;
  }
}
