@font-face {
  font-family: "AMORIA Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AMORIA Regular"),
    url("../../Assets/font/AMORIA-BF64a2f6809ce9e.woff") format("woff");
}
.HeroContainer {
  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: var(--TextVoiletColor);
}
.HeroLeft {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50vw;
  padding: 0 0 0.5vw 1.5vw;
}
.Hero_left_text1 {
  font-family: "AMORIA Regular";
  font-size: 4rem;
  padding-bottom: 1rem;
}
.Hero_left_text2 {
  width: 30vw;
  text-transform: uppercase;
  font-family: "Humane Regular";
  font-size: 15rem;
  line-height: 54%;
  letter-spacing: -0.005em;
}
#designer_text{
  font-size: 13.5rem;
}
#and {
  display: inline;
  font-family: "AMORIA Regular";
  font-size: 4rem;
  letter-spacing: -0.15em;
}
.HeroRight {
  width: 30vw;
  height: 100%;
  font-family: "Nexa Bold";
  font-size: 1.5rem;
  padding: 0vw 1.5vw 0.5vw 0vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.available {
  margin-top: 7vw;
  text-align: left;
  justify-content: right;
  font-size: 1.5vw;
  display: flex;
  color: white;
  flex-direction: row;
}
.date {
  font-family: "AMORIA Regular";
  font-size: 5.5vw;
}
.date_text {
  font-size: 1vw;
  width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.date_text span {
  font-size: 1.5vw;
  font-family: "AMORIA Regular";
  display: block;
}
.hero_discription {
  padding: 0.5vw 0vw;
  text-align: justify;
  text-transform: uppercase;
}
.button_cont{
  display: flex;
  justify-content: right;
}
.hero_button {
  border: 0.2vw solid var(--appColor);
  border-radius: 3rem;
  padding: 0.5vw 1.2vw;
  font-size: 1.5rem;
  font-family: "Nexa Bold";
  background-color: var(--appColor);
  color: var(--backgroundColor);
  transition: 0.3s;
  text-transform: uppercase;
}
.hero_button:hover {
  background-color: var(--lightAccent);
  color: var(--appColor);
  border: 0.2vw solid var(--lightAccent);
  transition: 0.5s;
  scale: 1.05;
}
@media screen and (max-width: 1441px) {
  .HeroLeft {
    padding: 0 0 0.5vw 1.5vw;
  }
  .Hero_left_text1 {
    font-size: 3vw;
    padding-bottom: 0.8vw;
  }
  .Hero_left_text2 {
    font-size: 13.5vw;
    line-height: 54%;
  }
  #designer_text{
    font-size: 12vw;
  }
  #and {
    font-size: 3.5vw;
  }
  .HeroRight {
    font-size: 1.25vw;
    padding: 0vw 1.5vw 0.5vw 0vw;
  }
  .hero_button {
    border: 0.2vw solid var(--textColor);
    padding: 0.5vw 1.2vw;
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 1025px){
  .HeroLeft {
    padding: 0 0 0.5vw 1.5vw;
  }
  .Hero_left_text1 {
    font-size: 3vw;
    padding-bottom: 0.8vw;
  }
  .Hero_left_text2 {
    font-size: 13.5vw;
    line-height: 54%;
  }
  #designer_text{
    font-size: 12vw;
  }
  #and {
    font-size: 3.5vw;
  }
  .HeroRight {
    font-size: 1.4vw;
    padding: 0vw 1.5vw 0.5vw 0vw;
  }
  .hero_button {
    border: 0.2vw solid var(--textColor);
    padding: 0.5vw 1.2vw;
    font-size: 1.5vw;
  }
}
@media screen and (max-width:769px){
  .HeroLeft {
    padding: 0 0 0.5vw 1.5vw;
  }
  .Hero_left_text1 {
    font-size: 5vw;
    padding-bottom: 1vw;
  }
  .Hero_left_text2 {
    font-size: 20vw;
    line-height: 54%;
  }
  #designer_text{
    font-size: 17vw;
  }
  #and {
    font-size: 5vw;
  }
  .HeroRight {
    font-size: 2vw;
    padding: 0vw 1.5vw 0.5vw 0vw;
  }
  .hero_button {
    border: 0.2vw solid var(--textColor);
    padding: 0.8vw 1.5vw;
    font-size: 2.5vw;
  }
}
@media screen and (max-width: 426px) {
  .HeroContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .HeroLeft {
    width: 98%;
    padding: 12vw 0vw 0vw 0vw;
  }
  .Hero_left_text1 {
    font-size: 10.5vw;
    padding-bottom: 2vw;
  }
  #designer_text{
    font-size: 27vw;
  }
  .Hero_left_text2 {
    width: 75vw;
    font-size: 30vw;
    line-height: 60%;
    letter-spacing: -0.005em;
  }
  #and {
    font-size: 10vw;
    letter-spacing: -0.25em;
  }
  .Hero_left_text2 span {
    font-size: 14vw;
  }
  .HeroRight {
    width: 70vw;
    height: 50%;
    font-size: 3vw;
    padding: 0vw 5vw 1vw 0vw;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }
  .available {
    margin-top: 12vw;
    text-align: left;
    justify-content: right;
    font-size: 1.5vw;
  }
  .date {
    font-size: 17vw;
  }
  .date_text {
    font-size: 3.5vw;
    line-height: 100%;
    width: 15vw;
  }
  .date_text span {
    font-size: 6vw;
    padding-bottom: 1.2vw;
  }
  .hero_layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .hero_discription {
    font-size: 3.7vw;
  }
  .hero_button {
    border: 0.4vw solid var(--textColor);
    width: 30vw;
    margin-top: 1vw;
    padding: 1.5vw 2vw;
    font-size: 3.4vw;
  }
  .hero_button:hover {
    scale: 1.05;
  }
}
