.image_back{
  margin-top: 12vh;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Connect {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ConnectContainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--TextVoiletColor);
}
.connect_header {
  line-height: 65%;
  margin-top: 2vw;
  font-size: 16vw;
  font-family: "Humane Regular";
  text-transform: uppercase;
  letter-spacing: -0.0055em;
}
.connect_des {
  display: flex;
  font-size: 1.5vw;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}
.connect_button {
  font-size: 1.2vw;
  border-radius: 3rem;
  border: 0.2vw solid var(--TextVoiletColor);
  padding: 0.3vw 1.2vw;
  margin: 0.4vw;
  text-align: center;
  transition: 0.5s;
  margin: 0.2vw 0.6vw;
}
.connect_button:hover {
  background-color: var(--TextVoiletColor);
  color: var(--TextVoiletColor_dark);
  border: 0.2vw solid var(--TextVoiletColor);
  transition: 0.5s;
  scale: 1.05;
}
.image_back hr {
  width: 80%;
  border: 0.1vw solid var(--TextVoiletColor);
  margin: 0 auto;
}
.right_links{
display: flex;
justify-content: flex-end;
}
.links{
  display: flex;
  flex-direction: row;
}
#trigger_text{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--TextVoiletColor);
  font-size: 1.6vw;
  padding: 0vw 1vw;
  border-radius: 3rem;
  transition: 0.5s;
  border: 0.2vw solid var(--textColor);
}
.trigger{
  height: 3vw;
  min-width: 3vw;
  margin: 0vw 0.8vw;
  list-style: none;
  transition: 0.5s;
}
.trigger:hover {
  border: none;
  transition: 0.3s;
  scale: 1.15;
}
@media screen and (max-width: 426px) {
  .Connect {
    margin-top: 0vh;
  }
  .ConnectContainer {
    justify-content: flex-start;
    align-items: center;
  }
  .connect_header {
    font-size: 36vw;
  }
  .connect_des {
    font-size: 3.5vw;
    padding: 0vw;
    flex-direction: row;
  }
  .connect_button {
    font-size: 3.5vw;
    border: 0.4vw solid var(--textColor);
    padding: 0.6vw 2vw;
    margin: 0vw 0.6vw;
  }
  .connect_button:hover {
    background-color: var(--textColor);
    color: black;
    border: 0.4vw solid var(--textColor);
    transition: 0.5s;
    scale: 1.05;
  }
  .links {
    width: 100%;
    padding: 1vw 0vw 2vw 0vw;
    margin: 0vw;
    gap: 7vw;
    font-size: 7vw;
    display: flex;
    justify-content: center;
  }
  #trigger_text{
    font-size: 4vw;
    padding: 0vw 4vw;
   }
  .trigger{
    height: 6vw;
    min-width: 6vw;
    margin: 0vw 0.4vw;
  }
}
