.image_back{
  margin-top: 12vh;
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Connect {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ConnectContainer {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--TextVoiletColor);
}
.connect_header {
  line-height: 65%;
  margin-top: 2vw;
  font-size: 16vw;
  font-family: "Humane Regular";
  text-transform: uppercase;
  letter-spacing: -0.0055em;
}
.connect_des {
  display: flex;
  font-size: 1.5vw;
  align-items: center;
  flex-direction: row;
  text-transform: uppercase;
}
.connect_button {
  font-size: 1.2vw;
  border-radius: 3rem;
  border: 0.2vw solid var(--TextVoiletColor);
  padding: 0.3vw 1.2vw;
  margin: 0.4vw;
  text-align: center;
  transition: 0.5s;
  margin: 0.2vw 0.6vw;
}
.connect_button:hover {
  background-color: var(--TextVoiletColor);
  color: var(--TextVoiletColor_dark);
  border: 0.2vw solid var(--TextVoiletColor);
  transition: 0.5s;
  scale: 1.05;
}
.image_back hr {
  width: 80%;
  border: 0.1vw solid var(--TextVoiletColor);
  margin: 0 auto;
}
.right_links{
display: flex;
justify-content: flex-end;
}
.links{
  margin-right: 1.5rem;
}
.links li {
  text-transform: uppercase;
  color: var(--TextVoiletColor);
  border: 0.2rem solid var(--TextVoiletColor);
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  margin: 0.5rem 0.6rem;
  list-style: none;
  transition: 0.5s;
  font-size: 1.4vw;
}
.links li:hover {
  background-color: var(--TextVoiletColor);
  color: var(--TextVoiletColor_dark);
  border: 0.2vw solid var(--TextVoiletColor);
  transition: 0.5s;
  scale: 1.05;
}
.linkFirstRow{
  display: flex;
  margin-right: 5rem;
}
.linkSecondRow{
  margin-left: 5rem;
  display: flex;
}
@media screen and (max-width: 426px) {
  .Connect {
    width: 100%;
    margin-top: 0vh;
    height: 100vh;
  }
  .connect_header {
    font-size: 25vw;
  }
  .connect_des {
    font-size: 4vw;
    padding: 2vw;
    flex-direction: column;
  }
  .connect_button {
    font-size: 4vw;
    border: 0.4vw solid var(--textColor);
    padding: 0.6vw 2vw;
    margin: 01.5vw 0.6vw;
  }
  .connect_button:hover {
    background-color: var(--textColor);
    color: black;
    border: 0.4vw solid var(--textColor);
    transition: 0.5s;
    scale: 1.05;
  }
  .image_back hr {
    width: 80%;
    height: 0.25vw;
    background-color: var(--textColor);
  }
  .links {
    padding: 1vw 0vw 2vw 0vw;
    margin: 0;
    gap: 7vw;
    font-size: 3.5vw;
  }
  .links li {
    text-transform: uppercase;
    color: var(--textColor);
  }
  .links li:hover {
    color: var(--lightAccent);
    transition: 0.5s;
    scale: 1.02;
  }
}
