@font-face {
  font-family: "AMORIA Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AMORIA Regular"),
    url("../../Assets/font/AMORIA-BF64a2f6809ce9e.woff") format("woff");
}
.Navbar {
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--navBarColor);
  backdrop-filter: blur(4px);
  position: fixed;
}
.NavContainer {
  width: 95vw;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 0.1rem;
  border-bottom: 1px solid var(--textColor);
  top: 0px;
  left: 0px;
}
.Navleft {
  display: flex;
  width: 100%;
}
#name {
  font-family: "Nexa Bold";
  padding-left: 2rem;
  scale: 1.2;
  transition: all 0.5s;
  cursor: pointer;
}
.Navright {
  display: flex;
  list-style: none;
}
.Navright li {
  transition: 0.5s;
  padding-right: 1rem;
}
.Navright > li:hover {
  transition: 0.3s;
  scale: 1.2;
  color: var(--lightAccent);
  cursor: pointer;
}
@media screen and (max-width: 1441px) {
  .NavContainer {
    font-size: 1.2vw;
    padding: 0.0rem;
    border-bottom: 1.5px solid var(--textColor);
  }
  #name {
    padding-left: 2vw;
    scale: 1.2;
  }
  .Navright li {
    transition: 0.5s;
    padding-right: 0.8vw;
  }
}
@media screen and (max-width: 1025px) {
  .NavContainer {
    font-size: 1.2vw;
    padding: 0.0rem;
    border-bottom: 1.5px solid var(--textColor);
  }
  #name {
    padding-left: 1.5vw;
    scale: 1.2;
  }
  .Navright li {
    transition: 0.5s;
    padding-right: 0.8vw;
  }
}
@media screen and (max-width:769px){
  .NavContainer {
    font-size: 2vw;
    padding: 0.0rem;
    border-bottom: 1.5px solid var(--textColor);
  }
  #name {
    padding-left: 2.5vw;
    scale: 1.2;
  }
  .Navright li {
    transition: 0.5s;
    padding-right: 1.2vw;
  }
}
@media screen and (max-width: 426px) {
  .Navleft p {
    margin-left: 2.5vw;
  }
  .Navright {
    flex-direction: row;
  }
  .Navright li{
    margin-left:1vw ;
  }
  .NavContainer {
    font-size: 3.5vw;
  }
  #name {
    scale: 1.25;
  }
}
