@font-face {
  font-family: "AMORIA Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AMORIA Regular"),
    url("../../Assets/font/AMORIA-BF64a2f6809ce9e.woff") format("woff");
}
.Navbar {
  z-index: 10;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: var(--navBarColor);
  backdrop-filter: blur(4px);
  position: fixed;
}
.NavContainer {
  width: 95vw;
  display: flex;
  align-items: center;
  font-size: 1.4vw;
  justify-content: space-between;
  padding: 0.4vw;
  border-bottom: 1px solid var(--textColor);
  top: 0px;
  left: 0px;
  margin-left: 2vw;
}
.Navleft {
  display: flex;
  width: 100%;
}
#name {
  font-family: "Nexa Bold";
  color: var(--TextVoiletColor);
  scale: 1.2;
  padding-left: 1vw;
  transition: all 0.5s;
  cursor: pointer;
}
.Navright {
  display: flex;
  list-style: none;
}
.Navright li {
  transition: 0.5s;
  padding-right: 1vw;
}
.Navright > li:hover {
  transition: 0.5s;
  scale: 1.2;
  cursor: pointer;
}
.invisble{
  border: none;
}

@media screen and (max-width: 426px) {
  .Navleft p {
    margin-left: 2.5vw;
  }
  .Navright {
    flex-direction: row;
  }
  .Navright li{
    margin-left:1vw ;
  }
  .NavContainer {
    font-size: 3.5vw;
  }
  #name {
    scale: 1.25;
  }
}
