@font-face {
  font-family: "AMORIA Regular";
  font-style: normal;
  font-weight: normal;
  src: local("AMORIA Regular"),
    url("../../Assets/font/AMORIA-BF64a2f6809ce9e.woff") format("woff");
}
@font-face {
  font-family: "Urotraman Regular";
  font-style: normal;
  font-weight: normal;
  src: local("urotraman-regular"),
    url("../../Assets/font/urotraman-regular.otf") format("woff");
}
@font-face {
  font-family: "Nexa Bold";
  font-style: bold;
  font-weight: bold;
  src: local("Nexa Bold"),
    url("../../Assets/font/NexaBold.ttf.woff") format("woff");
}
.Intro {
  margin-top: 30vh;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.IntroContainer {
  width: 70vw;
  display: flex;
  justify-content: center;
}
.IntroLeft {
  width: 34%;
  font-family: "Nexa Bold";
  text-align: left;
  padding: 5vw 6.5vw;
}
.intro_left_header {
  text-align: right;
  margin: 3vw 0vw 1.5vw 0vw;
}
.left_header1 {
  font-size: 6.65vw;
  font-family: "Humane Regular";
  text-transform: uppercase;
  letter-spacing: 0.0058em;
  line-height: 60%;
}
.left_header2 {
  font-size: 1.3vw;
  font-family: "AMORIA Regular";
  color: var(--lightAccent);
}
.intro_left_discription {
  font-size: 1.4vw;
  text-align: justify;
}
.IntroRight {
  width: 59%;
  display: flex;
  justify-content: center;
}
.IntroRight img {
  width: auto;
  margin-top: 7vw;
  height: 30vw;
}
.IntroRight1 {
  width: 59%;
  display: flex;
  justify-content: center;
}
.IntroRight1 img {
  width: auto;
  margin-top: 7vw;
  height: 25vw;
}
@media screen and (max-width: 426px) {
  .Intro {
    margin-top: 0vh;
    height: 100vh;
    align-items: center;
}
  .IntroContainer {
    width: 80vw;
    flex-direction: column-reverse;
    align-items: center;
  }
  .IntroLeft {
    width: 100%;
    font-family: "Nexa Bold";
    text-align: left;
    padding: 0vw 6.5vw;
  }
  .intro_left_header {
    text-align: left;
    margin: 4vw 0vw;
  }
  .left_header1 {
    font-size: 12.5vw;
  }
  .left_header2 {
    font-size: 4vw;
  }
  .intro_left_discription {
    font-size: 4vw;
  }
  .IntroRight1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .IntroRight1 img {
    width: 80vw;
    height: auto;
    padding-bottom: 5vw;
  }
}
