@font-face {
  font-family: "Nexa Bold";
  font-style: bold;
  font-weight: bold;
  src: local("Nexa Bold"),
    url("../src/Assets/font/NexaBold.ttf.woff") format("woff");
}
@font-face {
  font-family: "Urotraman Regular";
  font-style: normal;
  font-weight: normal;
  src: local("urotraman-regular"),
    url("../src/Assets/font/urotraman-regular.otf") format("woff");
}
:root {
  --navBarColor: #ffffff2c;
  --appColor: #110e16;
  --textColor: #ffffff;
  --lightAccent: #ceabfc;
  --darkAccent: #7a4ebd;
  --TextVoiletColor: #0d0818;
}
.App {
  text-align: center;
  color: var(--textColor);
  background-color: var(--appColor);
  font-family: "Nexa Bold";
  background-size: cover;
  background-position: top;
  background-image: url("../src/Assets/Firefly\ 20231109220832.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.gradiant_map {
  background-image: linear-gradient(
    180deg,
    rgba(17, 14, 22, 0) 0%,
    rgba(17, 14, 22, 0) 15%,
    rgba(17, 14, 22, 1) 25%,
    rgba(17, 14, 22, 1) 72.5%,
    rgba(17, 14, 22, 0) 82%,
    rgba(17, 14, 22, 0) 100%
  );
}
