@font-face {
  font-family: "Nexa Bold";
  font-style: bold;
  font-weight: bold;
  src: local("Nexa Bold"),
    url("../src/Assets/font/NexaBold.ttf.woff") format("woff");
}
@font-face {
  font-family: "Humane Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Humane-Regular"),
    url("../src/Assets/font/Humane-Regular.woff") format("woff");
}
:root {
  --navBarColor: #ffffff2c;
  --appColor: #110e16;
  --textColor: #ffffff;
  --lightAccent: #ceabfc;
  --darkAccent: #7a4ebd;
  --TextVoiletColor_dark: #0d0818;
  --TextVoiletColor: #fff0e7;
}
.App {
  text-align: center;
  color: var(--textColor);
  background-color: var(--appColor);
  font-family: "Nexa Bold";
  background-size: cover;
  background-position: bottom;
  background-image: url("../src/Assets/Edited_Artwork.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.gradiant_map {
  background-image: linear-gradient(
    180deg,
    rgba(17, 14, 22, 0) 0%,
    rgba(17, 14, 22, 0) 15%,
    rgba(17, 14, 22, 1) 22%,
    rgba(17, 14, 22, 1) 76%,
    rgba(17, 14, 22, 0) 84%,
    rgba(17, 14, 22, 0) 100%
  );
}
@media screen and (max-width: 426px) {
  .gradiant_map {
    background-image: linear-gradient(
      180deg,
      rgba(17, 14, 22, 0) 0%,
      rgba(17, 14, 22, 0) 16%,
      rgba(17, 14, 22, 1) 26%,
      rgba(17, 14, 22, 1) 70%,
      rgba(17, 14, 22, 0.5) 77%,
      rgba(17, 14, 22, 0) 84%,
      rgba(17, 14, 22, 0) 95%,
      rgba(17, 14, 22, 1) 100%
    );
  }
}